<div class="game-header">
  <button [routerLink]="['']" class="back-button">
    <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <path d="M19 12H5M12 19l-7-7 7-7"/>
    </svg>
  </button>
  <h3 *ngIf="gameState?.state === 'Ongoing'">
    It's Player <span class="highlight">{{ gameState?.playerTurn }}</span>'s Turn
  </h3>

  <h3 *ngIf="gameState?.state === 'Win'">
    🎉 Player <span class="highlight">{{ gameState?.playerTurn }}</span> Wins! 🏆
  </h3>

  <h3 *ngIf="gameState?.state === 'Draw'">
    It's a Draw! No Winner 🤝
  </h3>
</div>

<div class="grid">
  <ng-container *ngFor="let row of gameState?.grid; let rowIndex = index">
    <button class="grid-btn" *ngFor="let cell of row; let colIndex = index"
            (click)="makeMove(rowIndex+1, colIndex+1)">
      {{ cell || '-' }}
    </button>
  </ng-container>
</div>

