:host{
  display: flex;
  flex-direction: column;
  margin-top: 6px;
}

.game-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

h3{
  font-size: 36px;
  color: var(--text-color);
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.back-button {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  left: 45px;
}

.icon {
  width: 45px;
  height: 45px;
  color: var(--text-color);
}

.grid {
  display: grid;
  align-content: center;
  justify-content: center;
  grid-template-columns: repeat(3, 90px);
  gap: 9px;
}

.grid-btn {
  width: 90px;
  height: 90px;
  font-size: 40px;
  text-align: center;
  margin: 5px;
}

