:host{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

h1{
  font-size: 40px;
}

.btn-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.btn {
  width: 270px;
  height: 60px;
  background: #4E7041;
  color: var(--text-color);
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 2px 2px 2px black;
  &:hover {
    background: #3D5A34;
  }
}

