:host {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: 100px;
  justify-content: center;
  background-color: var(--fern-green);
  position: relative;
}


.theme-button{
 position: absolute;
  right: 25px;
}

